<!--Belum:
1. Save Image hasil snap
2. LED GPIO ke UV illuminator-->
<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Gel - Camera</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/png" href="{{url_for('static', filename='images/icons/favicon.icon')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
      <script src="{{url_for('static', filename='js/jquary.min.js')}}" type="text/javascript"></script>
      <script src="{{url_for('static', filename='js/jquery-ui.min.js')}}" type="text/javascript"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script src="{{url_for('static', filename='js/webcam.min.js')}}"></script>
      <style type="text/css">
        #camContainer {
          margin: 0 auto;
          width: 100px;
          height: 75px;
          background-color: #555;
        }
        #picture_from_cam {
          margin: 0 auto;
        }
        #picture_from_cam img {
          position: absolute;
          margin: 0 auto;
          width: 480px;
          height: 360px;
          background-color: #555;
          top: 15px;
          left: 15px;
        }
      </style>
    </head>

    <body>
        <div class="limiter">
            <div class="container-grid-camera">
              <div class="wrap1">
                <span class="index-form-title p-t-160">Gel Electrophoresis Camera</span>
                <div id="picture_from_cam"></div>
                </div>
                <div class= "wrap2">
                  <div id="camContainer"></div>
                  <div class="index-form-btn-divider-v2"></div>
                  {% for pin in pins %}
                  {% if pins[pin].state == true %}
                      <a href="/{{pin}}/off" class="index-form-btn" role="button">LED</a>
                  {% else %}
                      <a href="/{{pin}}/on" class="index-form-btn" role="button">LED</a>
                  {% endif %}
                  {% endfor %}
                  <!-- <a href="/ledWhite/on" id="led" class="index-form-btn">LED</a> -->
                  <div class="index-form-btn-divider-v2"></div>
                  <button class="index-form-btn" onclick="take_snapshot()">Snap</button>
                  <div class="index-form-btn-divider-v2"></div>
                  <button class="index-form-btn" onclick="upload_snapshot()">Save</button>
                  <div id="loading" class="p-t-10"></div>
                </div>
            </div>
            <div class="index-form-btn-divider-v"></div>
            <div class="container-grid-camera2">
              <a href="{{ url_for('index') }}" class="index-form-btn">
              Back</a>
              <a href="{{ url_for('imaging') }}" class="index-form-btn">
              Run</a>
            </div>
        </div>
        
        <script type="text/javascript">

          Webcam.set({
            dest_width: 480,
            dest_height: 360,
            image_format: 'jpeg',
            jpeg_quality: 90,
            force_flash: false
          });
   
          Webcam.attach( '#camContainer' );
          
          function take_snapshot() {
            Webcam.snap( function(img_data_url) {
              document.getElementById('picture_from_cam').innerHTML = '<img id="camera_image" src="'+img_data_url+'"/>';
            } );
          }
          
          function upload_snapshot() {
            document.getElementById('loading').innerHTML='Uploading, please wait...';

            var img = document.getElementById('camera_image').src;
            var formdata = new FormData();
            formdata.append('img', img);

            var ajax = new XMLHttpRequest();
            ajax.addEventListener("load", function(event) { uploadcomplete(event);}, false);
            ajax.open('POST', '/camera/upload');
            ajax.send(formdata);
          }

          function uploadcomplete(event) {
            document.getElementById('loading').innerHTML='<span class="upload-complete">Upload complete!</span>';
          }
        </script>
    </body>
</html>