<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gel - Upload</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/icons/favicon.icon')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery-ui.css')}}">
    <script src="{{url_for('static', filename='js/jquary.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/jquery-ui.min.js')}}" type="text/javascript"></script>
    <style type="text/css">
      #input[type='file']{
        opacity:0
      }
    </style>
  </head>

  <body>
    <div class="limiter-upload">
      <div class="container-upload">
      <div class="wrap">
      <span class="index-form-title" style="margin-top: 30px;">
        Gel Electrophoresis
      </span>
      <span class="index-form-title" id="timer-countdown" style="margin-top: 30px;">
        60:00
      </span>
    </div>
  </div>
  </div>
  <a href="{{ url_for('index') }}" class="index-form-btn" style="position:fixed; bottom: 30px; left: 40px;">
    Back
  </a>
  
  {% for pin in pins2 %}
  {% if pins2[pin].state == true %}
  <button class="index-form-btn" onclick="triggerGpioLow('{{pin}}'); startCountdown();">Start</button>
  <!-- <a href="/timer/{{pin}}/off" style="position: fixed; bottom: 30px; left:290px;" class="index-form-btn" role="button">Start</a> -->
  {% else %}
  <button class="index-form-btn" onclick="triggerGpioHigh('{{pin}}'); cancelCountdown();">Reset</button>
  <!-- <a href="/timer/{{pin}}/on" style="position: fixed; bottom: 30px; left:290px;" class="index-form-btn" role="button">Reset</a> -->
  {% endif %}
  {% endfor %}

  <!-- {% for pin in pins2 %}
  {% if pins2[pin].state == true %}
  <button class="index-form-btn" style="position: fixed; bottom: 30px; left:290px; display: none;" onclick="cancelCountdown()"></button>
  <a href="/timer/{{pin}}/off" style="position: fixed; bottom: 30px; left:290px;" class="index-form-btn" role="button">Reset</a>
  {% else %}
  <button class="index-form-btn" style="position: fixed; bottom: 30px; left:290px; display: none;" onclick="startCountdown()"></button>
  <a href="/timer/{{pin}}/on" style="position: fixed; bottom: 30px; left:290px;" class="index-form-btn" role="button">Start</a>
  {% endif %}
  {% endfor %} -->

  <a href="{{ url_for('camera') }}" class="index-form-btn" style="position:fixed; bottom: 30px; right: 40px;">
    Camera
  </a>
  </body>
</html>
<script type="text/javascript">
  var timer;

  function startCountdown() {
    timer = setInterval(countdown, 1000);
    var count = 3600;

    function countdown() {
      count = count - 1;
      var minutes = Math.floor(count / 60);
      var seconds = count - minutes * 60;

      document.getElementById("timer-countdown").innerHTML = minutes + ":" + seconds;

      if (count <= 0) {
        clearInterval(timer);
        alert("timer reaches zero");
      }
    }
  }

  function cancelCountdown() {
    clearInterval(timer);
    dociment.getElementById("timer-countdown").innerHTML = "60:00";
  }

  function triggerGpioHigh(pin) {
    var route = pin.toString(10);
    route = route + "/on";

    var ajax = new XMLHttpRequest();
    ajax.open('GET', route);
    ajax.send(null);
  }

  function triggerGpioLow(pin) {
    var route = pin.toString(10);
    route = route + "/off";

    var ajax = new XMLHttpRequest();
    ajax.open('GET', route);
    ajax.send(null);
  }
// function startTimer(duration, display) {
//     var start = Date.now(),
//         diff,
//         minutes,
//         seconds;
//     function timer() {
//         // get the number of seconds that have elapsed since 
//         // startTimer() was called
//         diff = duration - (((Date.now() - start) / 1000) | 0);

//         // does the same job as parseInt truncates the float
//         minutes = (diff / 60) | 0;
//         seconds = (diff % 60) | 0;

//         minutes = minutes < 10 ? "0" + minutes : minutes;
//         seconds = seconds < 10 ? "0" + seconds : seconds;

//         display.textContent = minutes + ":" + seconds; 

//         if (diff <= 0) {
//             // add one second so that the count down starts at the full duration
//             // example 05:00 not 04:59
//             start = Date.now() + 1000;
//         }
//     };
//     // we don't want to wait a full second before the timer starts
//     timer();
//     setInterval(timer, 1000);
// }

// $('start_timer').click = function () {
//     var fiveMinutes = 60 * 5,
//         display = document.querySelector('#time');
//     startTimer(fiveMinutes, display);
// };
</script>